/*------- Hero/Main -------*/
main {
    display: flex;
    padding: 8em 8em;
}

/*------- Hero Text Section -------*/
.hero-content {
    padding-right: 3em;
    width: 60%;
}

.hi-text {
    margin: 1em auto;
    font-size: 3em;
}

.hero-text {
    margin: 2em 0;
    font-size: 2em;
}

/*------- Hire me and Download CV Buttons --------*/
.main-button {
    padding: .8em 1.8em;
    margin: 2em 1em;
    font-size: 1.5em;
}

/*------- Stats SubSection -------*/
.stats {
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
}

.stats-item {
    padding: 0 1em;
    margin: 0 2em;
    border-left: 2px solid var(--primary-color);
}

.stats-text {
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary-text-color);
}

.vertical-line {
    width: 4px;
    height: 100;
    background-color: var(--primary-color);
}

.x4Text {
    font-size: 4em;
}

/*------- Hero Image/Card Section -------*/
.hero-image {
    padding: 1em;
    margin: auto;
    width: 40%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 30em;
    height: 45em;
    margin: auto;
    padding: 2em 1em;
    border-radius: 1em;
    box-shadow: 0 6px 8px var(--shadow-color);
}

.card-image {
    width: 100%;
    height: 30em;
    border-radius: 1em;
    background-image: url('../images/hero-image.jpg');
    background-color: var(--primary-color);
}

/*------- Hero Text/Card Section -------*/
.card-heading {
    text-align: center;
    font-size: 3em;
}

.card-subheading {
    margin: .2em;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
    color: var(--ascent-color);
}

/*------- Card Buttons -------*/
.card-links {
    display: flex;
    justify-content: center;

}

.card-link {
    width: 4em;
    height: 4em;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    background-color: var(--shadow-color);
   
}
.card-link:hover {

    transform: scale(1.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
} 
.icon {
    font-size: 2em;
    color: var(--secondary-color);
    
}

/*------- Responsive Design/Media Queries -------*/
@media screen and (max-width: 1400px) {
    main {
        padding: 4em 2em;
    }

    .hi-text {
        margin: .6em 0;
    }

    .main-button {
        margin: 1em;
    }
    .card {
       
        min-width: 25em;
        height: 40em;
      
    }
    
    .card-image {
    
        height: 30em;
       
    }
}

@media screen and (max-width: 1200px) {

    .hero-content {
        width: 50%;
        padding: 0;
    }

    .stats-item {
        margin: 0;
        margin-right: 2em;
        padding-right: 0;
    }

    .main-button {
        padding: .8em 1.4em;
        margin: 1em .5em;
        font-size: 1.5em;
    }

    .hero-text {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 1008px) {
    main {
        flex-direction: column;
        min-height: 100vh;
    }

    .hero-content {
        width: 100%;
    }

    .hero-image {
        padding: auto;
        margin: auto;
        margin-top: 4em;
        width: 100%;
    }

}

 @media screen and (max-width: 768px) {
   
    .card {
        min-width: 21em;
        height: 35em;
    }
    
    .card-image {
        
        height: 25em;
       
    }
    
    .hero-text {
        margin: 1.5em 0;
        font-size: 1.8em;
    }
    .main-button {
        padding: .6em 1.4em;
        margin: .5em;
        font-size: 1.4em;
    }
    .x4Text {
        font-size: 3em;
    }
    .stats-text {
        font-size: 1rem;
        
    }
} 
 @media screen and (max-width: 480px) {
   
    .hi-text {
        margin: 1em auto;
        font-size: 2.5em;
    }
    
    .hero-text {
        font-size: 1.6em;
    }

    .card {
        min-width: 15em;
        height: 25em;
    }
    
    .card-image {
        height: 20em;
    }

    .card-heading {
        font-size: 1.5em;
    }
    
    .card-subheading {
        font-size: 1em;
    }
    .card-link {
        margin: .2em;
        padding: .2em;
      
        width: 2.5em;
        height: 2.5em;
    }
    .x4Text {
        font-size: 2em;
    }
    .stats-item {
        padding: 0 .5em;
        margin: 0 .5em;
    }
} 