#company-list {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#work {
    margin: auto;
    width: 80%;
}
.work-heading {
    font-size: 3em;
    margin: 1em auto;
}


.company-item {
    padding: 1em;
    border-left: 2px solid var(--primary-text-color);
}

.main-work {
    display: flex;
    margin: 2em 0;
}

#workTasks {
    flex-direction: column;
    list-style-type:disc;
}